on boot
# Set LMKD props
    setprop ro.config.low_ram false
    setprop ro.lmk.kill_heaviest_task true
    setprop ro.lmk.kill_timeout_ms 100
    setprop ro.lmk.use_minfree_levels true
  
on property:sys.boot_completed=1  
# Enable ZRAM on boot_complete
    rm /data/unencrypted/zram_swap
    swapon_all /vendor/etc/fstab.qcom
    write /proc/sys/vm/swappiness 30
